.about {
  position: relative;

  text-align: center;
}

.about__image-wrapper {
  width: 100%;
}

.about__map-ya {
  position: absolute;

  width: 100%;
  max-width: 1200px;
  height: 350px;
}

.about__map {
  width: 100%;
  height: 350px;
}

@media (min-width: $tablet-width) {
  .about__map {
    height: 350px;
  }
}
