.form-page__page-main {
  margin-top: -27px;
}

.form-page__intro {
  margin-bottom: 38px;
  padding-top: 49px;
  padding-bottom: 62px;
}

.form-page__review {
  margin-bottom: 73px;
}

@media (min-width: $tablet-width) {
  .form-page__page-main {
    margin-top: 5px;
  }

  .form-page__intro {
    padding-top: 95px;
    padding-bottom: 110px;
    margin-bottom: 75px;
  }

  .form-page__review {
    margin-bottom: 97px;
  }

  .form-page__page-footer {
    padding-right: 44px;
    padding-left: 61px;
  }
}

@media (min-width: $desktop-width) {
  .form-page__review {
    margin-bottom: 102px;
  }

  .form-page__intro {
    padding-top: 103px;
    padding-bottom: 112px;
    margin-bottom: 112px;
  }

  .form-page__page-footer {
    padding-left: 120px;
    padding-right: 104px;
  }
}
