.gallery__text {
  margin: 0;
  padding: 0 23px;
  margin-bottom: 27px;

  line-height: $m-line-height;
  text-align: center;
}

.gallery__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.gallery__item {
  padding: 22px 21px;
  padding-right: 20px;
  padding-bottom: 15px;

  border-top: #e5e5e5 solid 1px;

  &:nth-child(3) {
    padding-top: 24px;
  }

  &--bordered {
    border-bottom: #e5e5e5 solid 1px;
  }
}

.gallery__image {
  display: block;
  height: 280px;
  width: 100%;
  margin-bottom: 16px;
}

.gallery__item-heading {
  padding: 0;
  margin: 0;

  font-size: $s-font-size;
  line-height: 23px;
  color: #000000;
}

.gallery__author {
  margin: 0;
  padding: 0;
  margin-bottom: 7px;

  line-height: $m-line-height;
  text-transform: none;
}

.gallery__like {
  position: relative;

  padding-left: 36px;

  font: inherit;
  line-height: $m-line-height;
  font-weight: $b-font-weight;
  color: #000000;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before {
    content: "";

    position: absolute;
    left: -1px;
    top: 0;

    width: 23px;
    height: 21px;

    background-image: url("../img/icon-like.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .gallery {
    padding: 0 60px;
  }

  .gallery__text {
    width: 424px;
    margin: 0 auto;
    margin-bottom: 69px;
  }

  .gallery__list {
    display: flex;
    flex-wrap: wrap;
  }

  .gallery__item {
    width: 50%;
    padding: 0;

    border-top: 0;

    &:first-child {
      width: 100%;
    }

    &:nth-child(3) {
      padding-top: 0;
    }

    &--bordered {
      border-bottom: 0;
    }
  }

  .gallery__image {
    width: 100%;
    height: 267px;
    margin: 0;

    &--poster {
      height: 400px;
    }
  }

  .gallery__desc {
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    padding-top: 16px;
    padding-bottom: 9px;
    padding-right: 24px;

    background-color: #f2f2f2;

    &--dark {
      padding-right: 31px;

      background-color: #eaeaea;
    }

    &--poster {
      padding-right: 15px;
    }
  }

  .gallery__like {
    margin-bottom: 5px;

    &::before {
      left: 5px;
      top: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .gallery {
    padding: 0;
  }

  .gallery__text {
    padding-right: 25px;
    margin-bottom: 71px;
  }

  .gallery__item {
    position: relative;

    width: 33.3333333%;
  }

  .gallery__desc {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;

    padding-right: 23px;
    padding-left: 21px;

    background-color: rgba(0, 0, 0, 0.3);

    &--poster {
      padding-right: 16px;
    }

    &--dark {
      padding-right: 31px;
    }
  }

  .gallery__item-heading {
    color: #ffffff;
  }

  .gallery__author {
    margin-bottom: 9px;

    color: #ffffff;
  }

  .gallery__like {
    margin-bottom: 7px;

    color: #ffffff;

    &::before {
      background-image: url("../img/icon-like-white.svg");
      left: 5px;
      top: 0;
    }
  }

  .gallery__image {
    width: 400px;
    height: 267px;
    margin: 0;

    &--poster {
      width: 1200px;
      height: 400px;
    }
  }
}
