.index-page__page-main {
  margin-top: -26px;
}

.index-page__promo {
  margin-top: 40px;
}

.index-page__booking {
  margin-bottom: 49px;
}

.index-page__about {
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .index-page__page-main {
    margin-top: 5px;
  }

  .index-page__promo {
    margin-top: 51px;
  }

  .index-page__booking {
    margin-bottom: 58px;
  }

  .index-page__about {
    margin-bottom: 31px;
  }
}

@media (min-width: $desktop-width) {
  .index-page__booking {
    margin-bottom: 66px;
  }
}
