.logo {
  position: relative;
  z-index: 1;

  display: block;
  width: 102px;
  height: 83px;
  margin: 0 auto;
}

.logo__image {
  max-width: 100%;
  height: auto;
}

@media (min-width: $tablet-width) {
  .logo {
    position: absolute;
    top: 0;
    left: 50%;

    margin-left: -51px;
  }
}
