.page-main__title {
  margin: 0;
  padding: 0;
  margin-bottom: 26.7px;

  font-size: $m-font-size;
  line-height: $b-line-height;
  letter-spacing: 0.1px;
  text-align: center;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .page-main__title {
    margin-bottom: 29px;

    font-size: 30px;
    line-height: 30px;
  }
}
