.photo-page__page-main {
  margin-top: -26px;
}

.photo-page__intro {
  margin-bottom: 39px;
}

.photo-page__gallery {
  margin-bottom: 35px;
}

.photo-page__video-presentation {
  margin-bottom: 72px;
}

@media (min-width: $tablet-width) {
  .photo-page__page-main {
    margin-top: 5px;
  }

  .photo-page__intro {
    margin-bottom: 74px;
  }

  .photo-page__gallery {
    margin-bottom: 66px;
  }

  .photo-page__video-presentation {
    margin-bottom: 71px;
  }
}

@media (min-width: $desktop-width) {
  .photo-page__intro {
    margin-bottom: 109px;
  }

  .photo-page__gallery {
    margin-bottom: 68px;
  }


  .photo-page__video-presentation {
    margin-bottom: 116px;
  }
}
