.photo-page__page-main {
  margin-top: -26px;
}

.photo-page__intro {
  margin-bottom: 37px;
}

.photo-page__gallery {
  margin-bottom: 33px;
}

.photo-page__video-presentation {
  margin-bottom: 80px;
}
