.promo {
  text-align: center;
  text-transform: uppercase;
}

.promo__title {
  display: block;
  margin-bottom: 29px;
  padding: 0 32px;

  font-size: $m-font-size;
  line-height: $b-line-height;
  color: #000000;
}

.promo__text {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  padding: 0 8px;

  line-height: $b-line-height;
}

.promo__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.promo__item {
  &--grey {
    padding: 30px 37px;

    background-color: #eeeeee;
  }

  &--border {
    position: relative;

    &::after {
      content: "";

      position: absolute;
      bottom: 0;
      left: 20px;
      right: 20px;

      height: 1px;

      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.promo__wrapper {
  position: relative;

  padding: 0 14px;
  padding-top: 55px;
  padding-bottom: 41px;

  background-color: $blue-bg-color;

  color: #ffffff;

  &--triangle {
    &::before {
      content: "";

      position: absolute;
      top: -22px;
      left: 50%;

      height: 37px;
      width: 320px;
      margin-left: -160px;

      background-image: url("../img/bg-triangle.svg");
      background-position: 0 0;
      background-repeat: no-repeat;
    }
  }
}

.promo__reason-title {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

  font-size: $m-font-size;
  line-height: $b-line-height;
  font-weight: $b-font-weight;
  color: #000000;

  &--white {
    color: #ffffff;
  }
}

.promo__number {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

.promo__description {
  margin: 0;
  padding: 0;
}

.promo__image {
  max-width: 100%;
  height: auto;
}

@media(min-width: $tablet-width) {
  .promo__title {
    padding: 0 117px;
    margin-bottom: 31px;

    font-size: $l-font-size;
  }

  .promo__text {
    padding: 0;
    padding-left: 2px;
    margin-bottom: 49px;

    letter-spacing: 0.1px;
  }

  .promo__wrapper {
    width: 22.3%;
    padding: 0 5.5%;
    padding-top: 44px;
    padding-bottom: 43px;

    &--flex-order {
      order: 1;
    }
  }

  .promo__wrapper--triangle {
    &::before {
      width: 0;
      height: 0;

      background-image: none;
    }
  }

  .promo__reason-title {
    margin-bottom: 12px;

    font-size: $l-font-size;
  }

  .promo__number {
    margin-bottom: 22px;
  }

  .promo__image {
    // height: 256px;
    // flex-grow: 1;
  }
}

@media(min-width: $desktop-width) {
  .promo__title {
    padding: 0 380px;

    font-size: $l-font-size;
  }

  .promo__wrapper {
    padding-top: 51px;
    padding-bottom: 57px;
   }

  .promo__reason-title {
    padding-left: 58px;
    padding-right: 59px;
   }
}
