.review__title {
  padding: 0;
  margin: 0;
  margin-bottom: 27px;

  font-size: $m-font-size;
  line-height: $b-line-height;
  letter-spacing: 0.2px;
  text-align: center;
  color: #000000;
}

.review__text {
  margin: 0;
  padding: 0;
  margin-bottom: 36px;

  line-height: $m-line-height;
  text-align: center;
}

.review__info-wrapper {
  position: relative;
}

.review__contacts-wrapper {
  position: relative;
}

.review__impression-wrapper {
  position: relative;
}

.review__sight-wrapper {
  position: relative;
}

.review__fieldset {
  padding: 22px 20px;
  padding-top: 19px;
  padding-bottom: 25px;
  margin: 0;

  border: none;

  &:nth-child(3) {
    padding-bottom: 20px;
  }

  &:nth-child(4) {
    padding-bottom: 19px;
  }

  &::before {
    content: "";

    position: absolute;
    top: -19px;
    left: 0;
    right: 0;

    height: 1px;

    background-color: #e5e5e5;
  }
}

.review__button {
  margin-left: 20px;
  padding-bottom: 15px;
  padding-top: 13px;
  padding-right: 47px;
}

.review__excerpt {
  display: none;
}

@media (min-width: $tablet-width) {
  .review__title {
    margin-bottom: 29px;
    padding-right: 1px;

    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.3px;
  }

  .review__text {
    width: 445px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 62px;

    letter-spacing: 0.1px;
  }

  .review__form {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px;
  }

  .review__info-wrapper {
    width: 40.9%;
    padding-left: 9.1%;
  }

  .review__contacts-wrapper {
    width: 100%;
    margin-top: 32px;
  }

  .review__impression-wrapper {
    width: 50%;

    order: -1;
  }

  .review__sight-wrapper {
    width: 100%;
    margin-top: 30px;
  }

  .review__fieldset {
    &:nth-child(4) {
      padding-bottom: 21px;
    }

    &::before {
      width: 0;
      height: 0;

      background-color: transparent;
    }
  }

  .review__excerpt {
    display: block;
    margin-left: auto;
    padding-top: 4px;

    font-size: $s-font-size;
    line-height: $b-line-height;
  }

  .review__button {
    padding-left: 63px;
    padding-right: 75px;
    margin-left: 0;
  }
}


@media (min-width: $desktop-width) {
  .review__title {
    margin-bottom: 28px;
  }

  .review__text {
    margin-bottom: 47px;
  }

  .review__form {
    padding-left: 120px;
    padding-right: 119px;
  }

  .review__button {
    padding: 14px 147px;
  }

  .review__info-wrapper {
    width: 401px;
    padding-left: 79px;
  }

  .review__sight-wrapper {
    margin-top: 30px;
  }

  .review__fieldset {
    &:nth-child(4) {
      padding-bottom: 21px;
    }
  }

  .review__excerpt {
    padding-top: 4px;
  }
}
