.sight {
  padding-top: 22px;
}

.sight__title {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  padding-right: 4px;
  width: 238px;

  letter-spacing: 0.1px;

  @include fieldset-legend;
}

.sight__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.sight__label {
  position: relative;

  display: block;
  padding-left: 79px;
  margin-bottom: 54px;

  @include bold-label;

  &--no-margin {
    margin-bottom: 0;
  }

  &::before {
    content: "";

    position: absolute;
    left: 1px;
    top: -13px;

    width: 53px;
    height: 54px;

    background-color: #f2f2f2;
    border-radius: 5px;
  }
}

.sight__checkbox {
  &:checked + .sight__label::after {
    content: "";

    position: absolute;
    left: 17px;
    top: 6px;

    width: 24px;
    height: 16px;

    background-image: url("../img/icon-tick.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  &:checked:active + .sight__label::after {
    opacity: 0.3;
  }

  &:hover + .sight__label::before {
    background-color: #e5e5e5;
  }

  &:active + .sight__label::before,
  &:focus + .sight__label::before {
    background-color: #d5d5d5;
  }
}

@media (min-width: $tablet-width) {
  .sight {
    width: 100%;
    margin-top: 30px;

    &::before {
      content: "";

      position: absolute;
      top: 26px;
      left: 0;

      height: 1px;
      width: 128px;

      background-color: #dbdbdb;
    }

    &::after {
      content: "";

      position: absolute;
      top: 26px;
      right: 0;

      height: 1px;
      width: 128px;

      background-color: #dbdbdb;
    }
  }

  .sight__title {
    width: 290px;
    padding-left: 3px;
    margin-bottom: 34px;

    letter-spacing: 0;
    font-size: $l-font-size;
  }

  .sight__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 76px;
    padding-right: 72px;
  }

  .sight__item {
    margin-bottom: 8px;

    &:nth-child(2) {
      padding-right: 14px;
    }
  }

  .sight__label::before {
    left: 0;

    width: 54px;
  }
}


@media (min-width: $desktop-width) {
  .sight {
    margin-top: 28px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 19px;

    &::before,
    &::after {
      width: 282px;
    }
  }

  .sight__item:nth-child(2) {
    padding-right: 0;
  }

  .sight__item:last-child {
    padding-right: 4px;
  }

  .sight__label {
    padding-left: 78px;

    &::before {
      left: -2px;

      width: 56px;
      height: 56px;
    }
  }

  .sight__list {
    padding: 0;
    padding-left: 4px;
  }
}
