.site-list {
  display: none;
  margin: 0;
  padding: 0;

  font-size: $m-font-size;
  line-height: 40px;
  font-weight: $b-font-weight;
  text-align: center;

  list-style-type: none;

  &--opened {
    display: block;
  }

  &--nojs {
    display: block;
  }
}

.site-list__link {
  display: block;
  width: 100%;
  padding: 8px 0;

  text-transform: uppercase;
  color: #ffffff;

  background-color: $blue-bg-color;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset, 0 -1px 0 0 rgba(1, 1, 1, 0.2) inset;

  &--shadow {
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.2) inset, 0 -7px 7px 0 rgba(1, 1, 1, 0.2) inset;
  }

  &--no-top-shadow {
    box-shadow: 0 -1px 0 0 rgba(1, 1, 1, 0.2) inset;
  }

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    color: rgba(#ffffff, 0.3);

    background-color: #5496bd;
    border-color: #5496bd;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 49px;
    padding-right: 27px;
    padding-top: 15px;
    padding-bottom: 10px;

    font-size: $s-font-size;
    line-height: $b-line-height;
  }

  .site-list__item {
    margin-right: 77px;

    &:first-child {
      width: auto;
    }

    &:nth-child(n+5) {
      width: 16%;
      margin-top: 10px;

      text-align: left;
    }

    &:nth-child(4n+4) {
      margin-right: 0;
    }

    &:nth-child(4n+8) {
      margin-left: auto;

      text-align: right;
    }

    &:nth-child(3) {
      margin-left: auto;
      margin-right: 50px;
    }

    &:nth-child(4n+7) {
      margin-left: 0;
      margin-right: 27px;
    }

    &:nth-child(4n+5) {
      margin-right: 23px;
    }

    &:nth-child(4n+6) {
      margin-right: 195.2px;
    }
  }

  .site-list__link {
    padding: 0;

    color: #000000;

    background-color: #ffffff;
    box-shadow: none;

    &:hover {
      color: #81b3d2;

      background-color: #ffffff;
    }

    &:active {
      color: rgba(#000000, 0.3);

      background-color: #ffffff;
      border-color: #ffffff;
    }
  }

  .site-list__link--current {
    color: #766357;

    &:hover {
      color: #604e43;
    }

    &:active,
    &:focus {
      color: rgba(#766357, 0.3);
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    padding-left: 91px;
    padding-right: 70px;
  }

  .site-list__item {
    margin-right: 162px;

    &:first-child {
      width: auto;
    }

    &:nth-child(n+5) {
      width: 14%;
    }

    &:nth-child(4n+4) {
      margin-right: 0;
    }

    &:nth-child(3) {
      margin-left: auto;
      margin-right: 138px;
    }

    &:nth-child(4n+6) {
      margin-right: 333.2px;
    }

    &:nth-child(4n+5) {
      margin-right: 75px;
    }

    &:nth-child(4n+7) {
      margin-left: 0;
      margin-right: 49px;
    }
  }
}
