.town-reasons-list {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-left: 70px;
  padding-right: 30px;
  padding-bottom: 10px;

  text-align: left;

  list-style-type: none;
}

.town-reasons-list__title {
  position: relative;

  margin: 0;
  padding: 0;
  margin-bottom: 15px;

  font-size: $m-font-size;
  line-height: $b-line-height;
  color: #000000;

  &::before {
    content: "";

    position: absolute;

    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &--house::before {
    left: -48px;
    top: -9px;

    width: 39px;
    height: 37px;

    background-image: url("../img/icon-house.svg");
  }

  &--gifts::before {
    left: -45px;
    top: -11px;

    width: 32px;
    height: 38px;

    background-image: url("../img/icon-gift.svg");
  }

  &--food::before {
    left: -51px;
    top: -5px;

    width: 40px;
    height: 35px;

    background-image: url("../img/icon-burger.svg");
  }
}

.town-reasons-list__description {
  margin: 0;
  padding: 0;
}

.town-reasons-list__item {
  margin-bottom: 28px;
}

@media (min-width: $tablet-width) {
  .town-reasons-list {
    display: flex;
    padding: 0;
    padding-top: 133px;
    padding-bottom: 34px;

    text-align: center;
  }

  .town-reasons-list__item {
    width: 21.7%;
    padding: 0 5.8%;

    &:nth-child(2) {
      order: 2;
    }

    &:last-child {
      width: 20.6%;
      padding: 0 6.35%;
    }
  }

  .town-reasons-list__title {
    margin: 22px;

    font-size: $l-font-size;

    &--house::before {
      left: 50%;
      top: -99px;

      width: 75px;
      height: 72px;
      margin-left: -37px;
    }

    &--gifts::before {
      left: 50%;
      top: -102px;

      width: 66px;
      height: 75px;
      margin-left: -33px;
    }

    &--food::before {
      left: 50%;
      top: -96px;

      width: 76px;
      height: 79px;
      margin-left: -38px;
    }
  }
}

@media (min-width: $desktop-width) {
  .town-reasons-list {
    padding-bottom: 54px;
  }

  .town-reasons-list__item {
    width: 21.8%;
    padding: 0 5.75%;

    &:nth-child(2) {
      order: 2;
    }

    &:last-child {
      width: 24.3%;
      padding: 0 4.5%;
    }
  }

  .town-reasons-list__title {
    &--house::before {
      left: 70px;
      top: -99px;

      margin-left: 0;
    }

    &--gifts::before {
      left: 78px;
      top: -102px;

      margin-left: 0;
    }

    &--food::before {
      left: 87px;
      top: -96px;

      margin-left: 0;
    }
  }

  .town-reasons-list__description {
    &::before {
      content: "";

      width: 10px;
    }
  }

  .town-reasons-list__excerpt {
    padding: 0 39px;
  }
}
