.video-presentation {
  text-align: center;
}

.video-presentation__title {
  margin: 0;
  padding: 0;
  margin-bottom: 27px;

  font-size: $m-font-size;
  line-height: $b-line-height;
  font-weight: $b-font-weight;
  color: #000000;
}

.video-presentation__text {
  margin: 0;
  padding: 0 22px;
  margin-bottom: 35px;

  line-height: $m-line-height;
}

@media (min-width: $tablet-width) {
  .video-presentation {
    padding-right: 5px;
  }

  .video-presentation__title {
    margin-bottom: 29px;
    padding-left: 2px;

    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.1px;
  }

  .video-presentation__text {
    width: 425px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
  }
}
