$tablet-width: 768px;
$desktop-width: 1200px;

$s-font-size: 14px;
$m-font-size: 18px;
$l-font-size: 21px;

$s-line-height: 21px;
$m-line-height: 24px;
$b-line-height: 26px;

$s-font-weight: 400;
$b-font-weight: 700;

$color: #333333;
$color-light: #ffffff;
$color-dark: #000000;

$blue-bg-color: #81b3d2;
